@media (max-width: 980px) {
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: green;
    }
}

@media (max-width: 760px) {
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: blue;
    }
}

@media (max-width: 640px) {
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    }
}